@charset "UTF-8";

.right{
  	float: right;
}


.center{
	text-align: center;
	margin-left: auto;
 	margin-right: auto;
}

.fullCenter{
	text-align: center;
	margin-left: auto;
 	margin-right: auto;
 	margin-top: auto;
 	margin-bottom: auto;
}

th {
	
	 background-color: #4ABFD3; 
	 color: white;	
}	

table{
	width:90%;
	margin-left: auto;
 	margin-right: auto;
}


.menubar{
	background-color: #B2EBF4;
}

textarea {
	width: 90%
}
