<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diary.mapper.CommentMapper">
	<select id="selectCommentList" parameterType="java.util.Map"
			resultType="com.example.diary.vo.Comment">
		SELECT
			comment_no as commentNo, 
			notice_no as noticeNo, 
			isSecret , 
			member_id as memberId,
			comment_content as commentContent, 
			createdate 
		FROM comment
		WHERE notice_no=#{noticeNo}
		ORDER by comment_no DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>
	
	<!-- 댓글 페이징버튼 설계위한 전체 댓글 수 출력 -->
	<select id="commentCount" parameterType="com.example.diary.vo.Comment">
		SELECT 
				count(comment_no)
		FROM comment
	</select>

	<insert id="insertComment" parameterType="com.example.diary.vo.Comment">
		INSERT INTO comment(
			notice_no , 
			member_id , 
			comment_pw , 
			comment_content , 
			isSecret
		) VALUES (
			#{noticeNo} ,
			#{memberId} ,
			PASSWORD(#{commentPw}) ,
			#{commentContent} ,
			#{isSecret}
		)	
	</insert>
	
	
</mapper>